::ng-deep .mat-tab-body-wrapper {
  height: 100%;
}

nav {
  border: none;
  background: #fff;
  box-shadow: inset 0px -2px 0px #e0e0e0;
  a {
    color: #232323;
    opacity: 1;
    &:hover {
      box-shadow: inset 0px -1.5px 0px #357493;
      text-decoration: none !important;
    }
  }
  a.mat-tab-label-active {
    color: #357493;
  }
}
.mat-tab-body {
  height: 100% !important;
  overflow: auto !important;
}
